/* Luffy colour palette: https://www.color-hex.com/color-palette/96968  */

div {
  border: solid 1px lightgrey;
}

body,
html {
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 100%;
}

.bg {
  background: url("./media/wallpaper-one-piece-luffy.jpeg");
  height: 100vh;
  background-position: center;
  /* background-repeat: repeat; */
  background-size: cover;
}

.nav-btn {
  background-size: cover;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-style: none;
  transition: all 0.2s ease-in-out;
  /* margin: 0 10%; */
}

.nav-btn:hover {
  box-shadow: 0 0 35px rgba(255, 255, 255, 1);
}

#discover-btn {
  background-image: url("./media/one-piece-icon.png");
}

#search-btn {
  background-image: url("./media/magnifying-glass.png");
}

#my-anime-list-btn {
  background-image: url("./media/treasure-chest.png");
}

/* #access-btn {
  background-image: url("./media/treasure-key.png");
} */

.has-border {
  border: solid 1px white;
}

.has-border-right {
  border-right: solid 1px white;
}

.vertical-centre {
  vertical-align: middle;
}

.funFont {
  font-family: "Bubblegum Sans", cursive;
}

#main-title-text {
  font-size: xx-large;
  color: white;
  margin-left: 5%;
  /* box-shadow: inset 0 0 35px black; */
  /* padding: 5px; */
  text-shadow: 2px 2px 5px black;
  vertical-align: middle;
}

/* #main-title-text:hover {
  background-color: transparent;
  box-shadow: 0 0 35px rgba(255, 255, 255, 1);
} */

.has-text-shadow {
  text-shadow: 2px 2px white;
}

.label-input {
  font-size: large;
}

.short-desc-text {
  color: white;
  font-size: small;
  font-family: "Roboto", sans-serif;
}

.no-padding {
  padding: 0;
}

.row-margin {
  margin: 0 5px;
}

.btn-margin {
  margin: 5px 5px;
}

.search-input-width {
  width: 360px;
}

.bkgd-red {
  background: #a90000;
}

.bkgd-darkblue {
  background: #0549a5;
}

.bkgd-yellow {
  background: #dfd500;
}

.bkgd-orange {
  background: #ffb300;
}

.bkgd-white {
  background: white;
}

.has-margin {
  margin: 1px 0;
}
