div {
  border: solid 1px lightgrey;
}

body,
html {
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 100%;
}

body {
  background: url("./media/wallpaper-one-piece-luffy.jpeg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

/*****************************************************
*                       Navbar
*****************************************************/
.navbar-toggler {
  margin-left: auto;
  margin-right: 5%;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-btn {
  background-size: cover;
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-style: none;
}

.user-btn {
  border: none;
  /* background-color: #ffb300; */
  background-color: #00b9ff;
}
.nav-btn:hover,
.user-btn:hover {
  box-shadow: inset 0 0 35px rgba(255, 255, 255, 0.5);
}

#discover-btn {
  background-image: url("./media/one-piece-icon.png");
}

#search-btn {
  background-image: url("./media/magnifying-glass.png");
}

#my-anime-list-btn {
  background-image: url("./media/treasure-chest.png");
}
@media only screen and (max-width: 576px) {
  .nav-btn,
  .user-btn {
    margin: 0 0.2em 0 0;
  }
  .nav-btn-right {
    margin: 0 0.5em 0 0;
  }
  .user-btn-right {
    margin: 0 0.1em 0 0;
  }
}

@media only screen and (min-width: 576px) {
  .nav-btn,
  .user-btn {
    margin: 0 1em 0 0;
  }
  .nav-btn-right {
    margin: 0 2em 0 0;
  }
  .user-btn-right {
    margin: 0 0.25em 0 0;
  }
}

@media only screen and (max-width: 768px) {
  #collapsible-elements {
    display: block;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 768px) {
  #collapsible-elements {
    margin-left: auto;
    margin-right: 0;
  }
  .nav-btn,
  .user-btn {
    margin: 0 1.2em 0 0;
  }
  .nav-btn-right {
    margin: 0 2.5em 0 0;
  }
  .user-btn-right {
    margin: 0 0.4em 0 0;
  }
}

@media only screen and (min-width: 992px) {
  .nav-btn,
  .user-btn {
    margin: 0 3em 0 0;
  }
  .nav-btn-right {
    margin: 0 5em 0 0;
  }
  .user-btn-right {
    margin: 0 0.5em 0 0;
  }
}

@media only screen and (min-width: 1200px) {
  .nav-btn,
  .user-btn {
    margin: 0 4em 0 0;
  }
  .nav-btn-right {
    margin: 0 8em 0 0;
  }
  .user-btn-right {
    margin: 0 0.8em 0 0;
  }
}

@media only screen and (min-width: 1400px) {
  .nav-btn,
  .user-btn {
    margin: 0 6em 0 0;
  }
  .nav-btn-right {
    margin: 0 12em 0 0;
  }
  .user-btn-right {
    margin: 0 1em 0 0;
  }
}

.welcome-text {
  background-color: black;
  color: white;
  /* font-size: small;
  font-family: "Roboto", sans-serif; */
  padding: 0.3em;
}

.welcome-text:hover {
  /* box-shadow: inset 0 0 35px rgba(255, 255, 255, 0.5); */
  box-shadow: none;
}

/*****************************************************
*                       Forms
*****************************************************/
.my-form {
  border: 1px solid #0549a5;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5% 10%;
  margin: 0 auto;
  margin-top: 12em;
  text-align: left;
  width: 80%;
}

#search-form {
  border: 1px transparent;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 4em;
  width: 50%;
}

/*****************************************************
*                       XXXXX
*****************************************************/

.has-border {
  border: solid 1px white;
}

.has-border-right {
  border-right: solid 1px white;
}

.vertical-centre {
  vertical-align: middle;
}

.funFont {
  font-family: "Bubblegum Sans", cursive;
}

#main-title-text {
  font-size: xx-large;
  color: white;
  margin-left: 0.5em;
  margin-right: 1em;
  /* box-shadow: inset 0 0 35px black; */
  /* padding: 5px; */
  text-shadow: 2px 2px 5px black;
  /* vertical-align: middle; */
}
/* #main-title-text:hover {
  background-color: transparent;
  box-shadow: 0 0 35px rgba(255, 255, 255, 1);
} */

.has-text-shadow {
  text-shadow: 2px 2px white;
}

.label-input {
  font-size: large;
}

.short-desc-text {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: small;
  font-family: "Roboto", sans-serif;
}

.no-padding {
  padding: 0;
}

.row-margin {
  margin: 0 5px;
}

.btn-margin {
  margin: 5px 5px;
}

.search-input-width {
  width: 360px;
}

.bkgd-red {
  background: #a90000;
}

.bkgd-darkblue {
  background: #0549a5;
}

.bkgd-yellow {
  background: #dfd500;
}

.bkgd-orange {
  background: #ffb300;
}

.bkgd-white {
  background: white;
}

.has-margin {
  margin: 1px 0;
}
