/* Luffy colour palette: https://www.color-hex.com/color-palette/96968  */

div {
  border: solid 1px lightgrey;
}

body,
html {
  font-family: "Roboto", sans-serif;
  text-align: center;
  height: 100%;
}

.bg {
  background: url("./media/wallpaper-one-piece-luffy.jpeg");
  height: 100vh;
  background-position: center;
  /* background-repeat: repeat; */
  background-size: cover;
}

#discover-btn {
  background-image: url("./media/treasure-chest.png");
  background-size: cover;
  background-color: transparent;
  width: 50px;
  height: 50px;
}

#access-btn {
  background-image: url("./media/treasure-key.png");
  background-size: cover;
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.has-border {
  border: solid 1px white;
}

.has-border-right {
  border-right: solid 1px white;
}

.vertical-centre {
  vertical-align: middle;
}

.funFont {
  font-family: "Bubblegum Sans", cursive;
}

#main-title-text {
  font-size: xx-large;
  color: white;
  margin: 0.5em auto;
  text-decoration: underline;
}

.has-text-shadow {
  text-shadow: 2px 2px white;
}

.label-input {
  font-size: large;
}

.short-desc-text {
  color: white;
  font-size: small;
  font-family: "Roboto", sans-serif;
}

.no-padding {
  padding: 0;
}

.row-margin {
  margin: 0 5px;
}

.btn-margin {
  margin: 5px 5px;
}

.search-input-width {
  width: 360px;
}

.bkgd-red {
  background: #a90000;
}

.bkgd-darkblue {
  background: #0549a5;
}

.bkgd-yellow {
  background: #dfd500;
}

.bkgd-orange {
  background: #ffb300;
}

.bkgd-white {
  background: white;
}

.has-margin {
  margin: 1px 0;
}
